name: Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      
    - name: Check network access
      run: |
        curl -I https://informatics.msk.ru/login/index.php

    - name: Run tests
      run: |
        pytest --disable-warnings -q
      env:
        INFORMATICS_LOGIN: ${{ secrets.INFORMATICS_LOGIN }}
        INFORMATICS_PASSWORD: ${{ secrets.INFORMATICS_PASSWORD }}